{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>Geogamers</title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
        <style>@-ms-viewport { width: device-width; }</style>

        <!-- css import -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- favicons import  -->
        <link rel="icon" href="{% static 'image/logocat.png' %}"/>
    </head>
    <header id="header_game">
        <div id="title_frame">
            <h1 id="title"> Geogamers </h1>
        </div>
    </header>
        <body id="bg_game">
        <div id="pano"></div>
        <!-- <img src="{% static 'image/cat.jpg' %}"> -->
        
        <form id="guess_form", autocomplete="off">
			{% csrf_token %}
            <input id="guess_input" type="text">
            <button id="guess_button">Submit</button>
            <button id="dev_change_pano_button" class="dev">Switch image</button>
            <a href="/"><button id="menu_button">back to main menu</button></a>
        </form>

		<!-- js import -->
		<script src="{% static 'js/marzipano.js' %}"></script>
		<script src="{% static 'js/panorama.js' %}"></script>
		<script src="{% static 'js/guess.js' %}"></script>
		<!-- <script src="{% static 'js/map.js' %}"></script> -->
		<script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
