{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>Geogamers</title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
        <style>@-ms-viewport { width: device-width; }</style>

		<link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/game/game.css' %}">
        <link rel="stylesheet" href="{% static 'css/game/result.css' %}">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
			integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
			crossorigin=""/>

		<link rel="icon" href="{% static 'image/logocat.png' %}"/>
    </head>
    <body>
		<header id="header">
			<div id="title_frame">
				<h1 id="title"> Geogamers </h1>
			</div>
		</header>

		<!-- GAME SCREEN -->
		<div class="screen" id="game_screen">
			<div id="pano"></div>

			<form id="guess_game_form" autocomplete="off">
				{% csrf_token %}
				<input id="guess_input" type="text">
				<button id="guess_game_button">Submit</button>
				<a href="/"><button id="menu_button">back to main menu</button></a>
			</form>
		</div>

		<!-- RESULT SCREEN -->
		<div class="screen" id="result_screen">
			<div id="bottom_bar">
				<p id="distance"></p>
				<button id="next_btn"> NEXT </button>
				<p id="points">Points: ???</p>
			</div>
		</div>

		<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
			integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
			crossorigin=""></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/game/imports/marzipano.js' %}"></script>
		<script src="{% static 'js/game/imports/SmoothWheelZoom.js' %}"></script>
		<script src="{% static 'js/game/panorama.js' %}"></script>
		<script src="{% static 'js/game/map.js' %}"></script>
		<script src="{% static 'js/game/game.js' %}"></script>
    </body>
</html>
