{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Geogamers</title>
        <meta charset="utf-8">
        
        <!-- css import -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- js import -->
        <script src="{% static 'js/main.js' %}"></script>

        <!-- favicons import  -->
        <link rel="icon" href="{% static 'image/logocat.png' %}"/>
    </head>
    <header>
        <div id="cadre">
            <h1 id="title"> Geogamers </h1>
        </div>
    </header>
    <body>
        <div id="game">
            <img src="{% static 'image/cat.jpg' %}">
        </div>
        
        <form id="guess_form" action="">
            <input type="text" required minlength="4" maxlength="15">
            <button id="button_formulaire" class="button" onclick="fonction_1()">Send</button>
        </form>
        <div id="pied">
            <p>Copyright© 2069 par personne. Tout droits reversés.</p>
        </div>
    </body>
</html>
