{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Geogamers</title>
        <meta charset="utf-8">
        
        <!-- css import -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- js import -->
        <script src="{% static 'js/main.js' %}"></script>

        <!-- favicons import  -->
        <link rel="icon" href="{% static 'image/logocat.png' %}"/>
    </head>
    <header>
        <div id="title_frame">
            <h1 id="title"> Geogamers </h1>
        </div>
    </header>
    <body>
        <div id="scoreboard">
            <table>
                <th>Player</th>
                <th>Score</th>
                <th>Time</th>
                <tr>
                    <td>player1aaaaaaaaaaaaaaaaaaaaaa</td>
                    <td>score2</td>
                </tr>
            </table> 
        </div>
        <img src="{% static 'image/cat.jpg' %}">
        
        <form id="guess_form" action="">
            <input type="text" required minlength="4" maxlength="15">
            <button id="guess_button" class="button" onclick="foo()">Submit</button>
        </form>
        <footer>Copyright© 2069 par personne. Tout droits reversés.</footer>
    </body>
</html>
