{% load static %}

<!DOCTYPE html>
<html>
    <head>

         <!-- css import -->
         <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <title>Geogamers</title>
    </head>
    <header id="header_menu">
        <img id="logo" src="{% static 'image/logo.png' %}">

    </header>
    <body id="bg_menu">
        <div id="scoreboard">
            <table>
                <th>Player</th>
                <th>Score</th>
                <th>Time</th>
                <tr>
                    <td>player1aaaaaaaaaaaaaaaaaaaaaa</td>
                    <td>score2</td>
                    <td>score2</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table> 
        </div>
        <a href="/game"><button id="start_game">Start the game</button></a>
        <footer id="copyright">Copyright© 2069 par personne. Tout droits reversés.</p></footer>
    </body>
</html>