
body {
	background-color: rgb(17, 23, 44);
}

#home-wrapper {
	position: absolute;
	left: 50vw;
	width: 600px;
	height: 100vh;
	transform: translateX(-50%);
}


#preamble {
	margin-top: 20vh;
	text-align: center;
}
#preamble h1 {
	color: white;
	margin-bottom: 10px;
}

#start-game {
	margin-top: 5vh;
	position:relative;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	height: 75px;
}
#start-game button {
	width: 100%;
	height: 100%;
	border-radius: 30px;

	font-size: x-large;
}

#warning {
	margin-top: 20vh;

	text-align: center;
}