
* {
	margin: 0;
	font-family: sans-serif;
}

.hidden {
	display: none !important;
}

/* screens */
.screen {
	position: relative;
	height: 100vh;
	width: 100vw;
}

p, i {
	color: white;
}

span {
	background-color: white;
}

button {
	background-color: #243642;
	color: white;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
	font-weight: bold;

	border-color: #0a131a;
	border-style:solid;
	border-width: 3px;
	border-radius: 10px;

	/* transition: scale 50ms; */
}
button:hover {
	filter: brightness(0.7);
}
button:active {
	transform: scale(0.9);
}

