
#result_screen {
	display: flex;
	flex-direction: column;
}

#result_map {
	height: 100%;
}

#result_island {
	position: absolute;
	bottom: 5vh;
	left: 50vw;
	transform: translateX(-50%);
	z-index: 1000;

	width: 80vw;
	max-width: 800px;
	height: 80px;
	
	background: #ffffff0a;
	backdrop-filter: blur(30px);
	border-radius: 30px;
	border-style: solid;
	border-color: #090d2059;
	border-width: 4px;
}

#result_island #next_btn {
	height: 50px;
	padding: 0 50px 0 50px;
	border-radius: 100px;
	position: absolute;
	left: 50%;
	bottom: -40%;
	transform: translateX(-50%);
}

#result_island #points {
	color: #cacdce;
	font-weight: 900;
	font-size: xx-large;
	position: absolute;
	left: 50%;
	top: -50%;
	text-shadow: 0 0 10px #11162d,0 0 50px #11162d, 0 0 5px #000;
	transform: translateX(-50%);
}