
#result_screen {
	display: flex;
	flex-direction: column;
	height: 95vh;
}

#result_map_wrapper {
	flex: 1 1 auto;
}

#result_map {
	height: 100%;
}

#bottom_bar {
	background: rgb(3,0,89);
	background: linear-gradient(33deg, rgba(3,0,89,1) 0%, rgba(4,0,164,1) 29%, rgba(0,84,180,1) 100%); 

	flex: 0 1 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#bottom_bar button {
	height: 40px;
	margin: 0 200px 0 200px;
	padding: 0 50px 0 50px;
	border-radius: 100px;
}

#bottom_bar p {
	color: white;
	font-weight: 900;
	font-size: xx-large;
}