{% load static %}

<!DOCTYPE html>
<html>
    <head>

		<link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/home/home.css' %}">

        <title>Lost in Steam</title>
    </head>
    <body>
		<div id="home-wrapper">
			<div id="preamble">
				<h1>Lost in Steam</h1>
				<p>Randomly teleported into a video game, your mission is to guess which game you're in just by observing your surroundings. Once you've figured it out, score even more points by pinpointing your exact location on the game's map!</p>
			</div>
			<form id="start-game" action="/game">
				<button>Start</button>
			</form>
			<div id="warning">
				<p><b>!! This website is still in developpement !!</b></p>
				<p>Many features are missing and under developpement, but you're welcome to try the game as it stands.</p>
				<p>Temporary cheat commands are available to help you try out everything you want!</p>
			</div>
		</div>
	</body>
</html>