/* css */

* {
	margin: 0;
}

html, body {
	height: 100vh;
	overflow: hidden;
}

#bg_game {
	background-color: #000000;
}

input {
	height: 3em;
	width: 30em;
	background-color: #243642;
	border-color: white;
	border-style:solid;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	color: white;
}

button {
	background-color: #243642;
	color: white;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	font-weight: bold;
	font-family: system-ui;
}

#guess_game_button {
    margin-left: 1em;
}

#title {
	font-size: 3vh;
	text-align: center;
	color: rgb(255, 255, 255);
}

#title_frame {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	background: #bfc1c700;
	border: 0.3vh solid #ffffff;
	border-radius: 10px;
	padding: 0.2vh 60px 0.2vh 60px;
}

#header_game {
	background-color: #2436426e;
	height: 5vh;
}

#guess_game_form {
	position: absolute;
	bottom: 8vh;
	left: 50vw;
	transform: translate(-50%, 0);
	display: flex;
	flex-direction: row;
}

#map_wrapper {
	display: none;
	position: absolute;
	bottom: 1em;
	right: 1em;
}

#guess_pos_btn {
	display: block;
	position: relative;
	top: 90%;
	margin: 0 auto;

	z-index: 500;
	height: 3em;
	width: 50%;

	border-radius: 100px;
	border-width: 0;
	font-family: sans-serif;
	font-weight: bold;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	
	opacity: 0.4;
	transition: 
		opacity 0.15s ease-in-out,
		transform 0.05s ease-in-out;
}
#guess_pos_btn:hover {
	opacity: 1;
}
#guess_pos_btn:active {
	transform: scale(0.95);
}

#map {
	height: 500px;
	width: 500px;
	background-color: rgb(0, 0, 0);
}

.leaflet-tile {
    image-rendering: pixelated;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}

#scoreboard {
	position: absolute;
	color: rgb(0, 0, 0);
	right: 45px;
	width: 24vh;
	height: 70vh;
	bottom: 14vh;
}

th, td {
	border: 3px solid #243642;
	padding: 10px;
	height: 20px;
	width: 60px;
}

table {
	border-radius: 10px;
	border-collapse: collapse;
	border-style: hidden;
	box-shadow: 0 0 0 3px #243642;
}

td {
	max-width: 10px; 
	overflow: hidden;
}

#copyright {
	position: absolute;
	bottom: 1%;
	color: rgb(0, 0, 0);
}

#pano {
    height: 100%;
}

.dev {
    background-color: red;
}

#bg_menu {
	background-color: #E2F1E7;
}

#header_menu {
	background-color: #629584;
	height: 8vh;
}

#logo {
	position: absolute;
	left: 15vh;
	bottom: 80.7vh;
	transform: translate(-50%, 0%);
	height: 31vh;
	border: none;
}

#start_game {
	background-color: #243642;
	color: white;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	font-weight: bold;
    margin-left: 1em;
	position: absolute;
}